.App {
  text-align: center;
}

.app-container {
  width: 25rem;
  border: solid 2px black;
  padding: 1rem;
  margin: auto;
}

.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 1rem;
  border: solid 2px gray;
  margin: 1rem 0;
}

.counter-button {
  width: 2rem;
  height: 2rem;
}

.refresh-button {
  width: 6rem;
  height: 2rem;
}

.count {
  margin: 1rem;
}

h1 {
  color: purple;
}
